<h2>Employe Edit works!</h2>

<div class="dx-card content-block">
  <div class="responsive-paddings">
    <form #form="ngForm" (ngSubmit)="onSubmitEmploye(form.value)">
      <dx-form  [formData]="employeDataSource">
        <dxi-item itemType="group">
          <dxi-item itemType="group" [colSpan]="3">
            <dxi-item dataField="firstName"></dxi-item>
            <dxi-item dataField="lastName"></dxi-item>
            <dxi-item dataField="birthDate" editorType="dxDateBox" [editorOptions]="{ width: '100%'}"></dxi-item>
            <dxi-item dataField="address"></dxi-item>
          </dxi-item>
        </dxi-item>

      </dx-form>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
