<dx-data-grid
  [dataSource]="employesDataSource"
  keyExpr="id"
  [allowColumnReordering]="true"
  [showBorders]="true"
  (onInitNewRow)="addNewEmploye()"
  (onRowInserting)="insertingNewEmployee()"
  (onRowInserted)="insertedEmployee($event.data)"
  (onEditingStart)="startEditing()"
  (onRowUpdating)="updatingRow()"
  (onRowUpdated)="($event.data)"
>

  <dxo-paging [enabled]="true"></dxo-paging>
  <dxo-editing
    mode="row"
    [allowUpdating]="true"
    [allowDeleting]="true"
    [allowAdding]="true">
  </dxo-editing>

  <dxi-column caption="First" dataField="firstName"></dxi-column>
  <dxi-column caption="last" dataField="lastName"></dxi-column>
  <dxi-column caption="position" dataField="position" [width]="130"></dxi-column>
  <dxi-column
    dataField="birthDate"
    [width]="125"
    dataType="date">
  </dxi-column>
</dx-data-grid>
