<h2 class="content-block">Employe: {{ employe.firstName }}  {{ employe.lastName }}</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <p>Address info: <b>{{ employe.address }}</b></p>
    <p>Position Jobs: <b>{{ employe.position }}</b></p>
    <p>Notes: <b>{{ employe.notes }}</b></p>
    <p>Hire Date: <b>{{ employe.hireDate }}</b></p>
    <p>Birth Date: <b>{{ employe.birthDate }}</b></p>
  </div>

  <div class="row">
    <div>
      <dx-button
        stylingMode="contained"
        text="Cancel"
        type="normal"
        [width]="120"
        (onClick)="back()">
      </dx-button>
    </div>

    <div class="editarStyle">
      <dx-button
        align="rigth"
        stylingMode="contained"
        text="Editar"
        type="success"
        [width]="120"
        (onClick)="null">
      </dx-button>
    </div>
  </div>

</div>
