<ng-container *ngIf="isAutorized(); else notAuthorized">
    <app-side-nav-outer-toolbar title="{{appInfo.title}}">

      <xng-breadcrumb [separator]="separatorTemplate" class="myapp-breadcrumb">
        <ng-container *xngBreadcrumbItem="let breadcrumb; let info = info; let first = first">
          <ng-container>{{ breadcrumb | titlecase }}</ng-container>
        </ng-container>
      </xng-breadcrumb>

        <router-outlet></router-outlet>
        <app-footer>
            Copyright © 2011-2019 Developer Express Inc.
            <br/>
            All trademarks or registered trademarks are property of their respective owners.
        </app-footer>
    </app-side-nav-outer-toolbar>
</ng-container>

<ng-template #notAuthorized>
    <app-single-card>
        <router-outlet></router-outlet>
    </app-single-card>
</ng-template>

<ng-template #separatorTemplate>
  <fa-icon [icon]="faCoffee"></fa-icon>
</ng-template>
